
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  /* sheared style  */
  .display-flex{
    display: flex;
  }
  .btn-prymary{
    height: 3.12rem;
    width: 12.31rem;
    background-color: #FEA301;
    color: #ffff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    
  }
  .btn-prymary-2{
    height: 3.12rem;
    width: 12.31rem;
    background-color: #000000;
    color: #ffff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    
  }

  /* nav ber style  */
  .nav-bar{
    justify-content: space-between;
    height: 6.38rem;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
 .school-logo{
    max-height: 3.89rem;
    width: 3.89rem;
 }

.logo-text{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #111111;
    font-size: 32px;
    font-weight: 600;
 }
  .nav-item{
    list-style: none;
    margin: 32px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  #nav-link1{
    color: #FEA301;
  }
  #nav-link2{
    color: #01ACFD; 
  }
  #nav-link3{
    color: #05D4DF;
  }
  #nav-link4{
    color: #5D58EF;
  }


  .nav-bar, .banner, .curriculum-section, main, footer, .marquee-using{
    max-width: 75.62rem;
    margin: 0 auto;
  }
.marquee-text{
  font-size: 2.5rem;
  font-weight: 700;
  color: #8700FF;
  background-color: #64C8FF;
  border-radius: 5px;
  
}
.marquee-using{
  display: flex;
  justify-content: center;
}
  .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  /* Banner section */

.banner{
    max-width: 75.62rem;
    max-height: 35.93rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.Empowering{
    color: #FEA301;
}
.vision{
    color: #01ACFD;
}

.banner-description{
    font-size: 20px;
    font-weight: 200;

}
.hero-kid{
    margin-left: 3.12rem;
}

.curriculum-section{
    background: url(images/bg.png)
}
.curriculum-title{
    margin-top: 3.75rem;
    text-align: center;
    font-weight: 700;
    font-size: 2.89rem;
}
.curriculum{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
    gap: 1.89rem;
}
.curriculums{
    align-items: center;
    text-align: center;
    height: 29.75rem;
    max-width: 22.93rem;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 18px;
    box-shadow: 10px;
}
.gradient-1{
    background: rgb(246,247,249);
    background: linear-gradient(72deg, rgba(246,247,249,1) 0%, rgba(247,252,255,1) 75%);
}
.gradient-2{
    background: rgb(251,251,251);
    background: linear-gradient(14deg, rgba(251,251,251,1) 0%, rgba(255,246,228,1) 95%);
}
.gradient-3{
    background: rgb(249,249,251);
    background: linear-gradient(76deg, rgba(249,249,251,1) 0%, rgba(246,239,254,1) 95%);
}
.curriculum-images{
    max-width: 8.5rem;
    height: 8.5rem;
    padding-top: 3.25rem;
    padding-left: 7.19rem;
    padding-right: 7.19rem;
}

.curriculum-a{
    max-width: 4.96rem;
    height: 1.12rem;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

#a1{
    color: #64C8FF;
}
#a2{
    color: #168d79;
}
#a3{
    color: #8700FF;
}

.arow-btn{
  max-width: 3.75rem;
  height: 3.75rem;
  background-color: #FEA301;
  color: #ffff;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
  
}
.arow-btn-container{
  display: flex;
  justify-content: center;
  padding-bottom: 3.75rem; 
}


/* main section  */
main{
  background-image: url(images/bg.png);
  background: rgb(255,248,240);
  background: linear-gradient(177deg, rgba(255,248,240,1) 0%);;
  height: 56.25rem;
  width: auto;
  padding-top: 1.88rem;
  padding-bottom: 3.75rem;
}
.main-title{
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
}

.main-images-section{
  display: flex;
  justify-content: center;
}
.main-image{
  height: 39.37rem;
  max-width: 33.75rem;
  background-color: #fff;
  border-radius: 16px;
  margin-right: 18px;
  border: 1px #413e3e
}
.main-image-description{
  margin-left: 2.31rem;
  margin-right: 3.38rem;
  margin-top: 1.88rem;
  font-size: 15px;
  font-weight: 500;
}
.main-images{
  display: grid;
  grid-template-columns: 18.19rem 18.19rem;
  column-gap: 18px;
  row-gap: 18px;
}
.image{
  background-color: #fff;
  border-radius: 16px;
  border: 1px #413e3e;
}
.image-description{
  margin-left: 2.31rem;
  margin-right: 3.38rem;
  font-size: 15px;
  font-weight: 700;
}
.image-btn{
  max-width: 10.88rem;
  height: 2.38rem;
  border-radius: 45px;
  margin-left: 2.19rem;
  margin-top: -5rem;
  background-color: #05D4DF;
}
.main-section-btn{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3.75rem;
}


/* footer style  */


footer{
  min-height: 31.25rem;
  background-color: #01ACFD;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 8.69rem;

}
.footer-and-title{
  display: flex;
  height: 5rem;
  max-width: 12.88rem;
  margin-bottom: 3px;
  align-items: center;
}
.footer-image-title{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.footer-image-description{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.footer-item{
  list-style: none;
  margin-top: 20px;
  
}
.footer-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.footer-about-school{
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}
.keep-in-touch{
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}
.footer-icon{
  border: 1px solid black;
  border-radius: 5px;
}
  /* responsive style  */
 @media screen and (max-width: 576px) {
   *{
    margin: 0 auto;
    
   }
   .nav-bar, .nav-links, .banner, .curriculum, .footer-container{
    flex-direction: column;
   }
   .nav-links{
    display: none;
   }
   .btn-prymary{
    margin-bottom: 50px;
   }
   
   .marquee-using{
    display: flex;
    justify-content: center
    }
   .banner{
    justify-items: center;
    margin: 10px 30px;
    } 
    .hero-kid{
      margin-right: 47px;
    }
.curriculum-section{
  margin-top: 500px;
  
}
.arow-btn-container{
  display: none;
}
.main-image{
  display: none;
}
.main-images{
  margin-left: 5px;
  margin-right: 5px;
}
.footer-container{
  height: ;
}
 }