
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  /* sheared style  */
  .display-flex{
    display: flex;
  }
  .btn-prymary{
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    color: #ffff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    
  }
  .btn-prymary-2{
    height: 50px;
    width: 197px;
    background-color: #000000;
    color: #ffff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    
  }

  /* nav ber style  */
  .nav-bar{
    justify-content: space-around;
    height: 102px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
 .school-logo{
    height: 62px;
    width: 62px;
 }

.logo-text{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #111111;
    font-size: 32px;
    font-weight: 600;
 }
  .nav-item{
    list-style: none;
    margin: 32px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  #nav-link1{
    color: #FEA301;
  }
  #nav-link2{
    color: #01ACFD; 
  }
  #nav-link3{
    color: #05D4DF;
  }
  #nav-link4{
    color: #5D58EF;
  }


  .nav-bar, .banner, .curriculum-section, main{
    max-width: 1400px;
    margin: 0 auto;
  }

  .toggle-btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  /* Banner section */

.banner{
    width: 1215px;
    height: 575px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

}
.banner-title{
    font-size: 56px;
    font-weight: 700px;
}
.Empowering{
    color: #FEA301;
}
.vision{
    color: #01ACFD;
}

.banner-description{
    font-size: 20px;
    font-weight: 200px;

}
.hero-kid{
    margin-left: 50px;
}

.curriculum-section{
    background: url(images/bg.png)
}
.curriculum-title{
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 46px;
}
.curriculum{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-evenly;
    gap: 30px;
}
.curriculums{
    align-items: center;
    text-align: center;
    height: 476px;
    width: 367px;
    border: 2px solid rgb(247, 247, 247);
    border-radius: 18px;
    box-shadow: 10px;
}
.gradient-1{
    background: rgb(246,247,249);
    background: linear-gradient(72deg, rgba(246,247,249,1) 0%, rgba(247,252,255,1) 75%);
}
.gradient-2{
    background: rgb(251,251,251);
    background: linear-gradient(14deg, rgba(251,251,251,1) 0%, rgba(255,246,228,1) 95%);
}
.gradient-3{
    background: rgb(249,249,251);
    background: linear-gradient(76deg, rgba(249,249,251,1) 0%, rgba(246,239,254,1) 95%);
}
.curriculum-images{
    width: 136px;
    height: 136px;
    padding-top: 52px;
    padding-left: 115px;
    padding-right: 115px;
}

.curriculum-a{
    width: 79px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

#a1{
    color: #64C8FF;
}
#a2{
    color: #168d79;
}
#a3{
    color: #8700FF;
}

.arow-btn{
  width: 60px;
  height: 60px;
  background-color: #FEA301;
  color: #ffff;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
  
}
.arow-btn-container{
  display: flex;
  justify-content: center;
  padding-bottom: 60px; 
}

/* main section  */
main{
  background-image: url(images/bg.png);
  background: rgb(255,248,240);
  background: linear-gradient(177deg, rgba(255,248,240,1) 0%);;
  height: 800px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.main-title{
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.main-imagr-section{
  display: flex;
}
.main-image{
  height: 630px;
  width: 540px;
  background-color: #fff;
  border-radius: 16px;
  margin-left: 130px;
  margin-right: 18px;
  border: 1px #413e3e
}
.main-image-description{
  margin-left: 37px;
  margin-right: 54px;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
}
.main-images{
  display: grid;
  grid-template-columns: 291px 291px;
  column-gap: 18px;
  row-gap: 18px;
}
.image{
  background-color: #fff;
  border-radius: 16px;
  border: 1px #413e3e;
}
.image-description{
  margin-left: 37px;
  margin-right: 54px;
  font-size: 15px;
  font-weight: 700;
}
.image-btn{
  width: 174px;
  height: 38px;
  border-radius: 45px;
  margin-left: 35px;
  margin-top: -80px;
  background-color: #05D4DF;
}


  /* responsive style  */
 @media screen and (max-width: 576px) {
    .nav-bar, .banner, .curriculum-section, .curriculum{
        flex-direction: column;
        /* display: block; */
    }
   
    .nav-bar, .toggle-btn{
        
    } 
    .nav-logo{
        width: 46px;
        height: 46px;
        
    }
    .logo-text, .nav-link, .btn-prymary{
        display: none;
    }
 }